html {
  background-color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 0 3px 20px 7px #e2e2e2;
}

.main-body {

  background-image: url("../img/Shape-line.png"), url("../img/Welcome.png"), url("../img/backgroundphoto.jpg");
  background-repeat: no-repeat;
  background-position: center 16%, center 4%, center top;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
  background-color: #ffffff;
}

.site-navigation,
.advantages-addition-list,
.advantages-list,
.social,
.filters,
.sort-list,
.sort-result-list {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current a {
  color: #766357;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.container p {
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.sedona-sity,
.hellbridge {
  background-color: #81b3d2;
  color: #ffffff;
}

.other-general {
  background-color: #eeeeee;
}
 /* ----------Скрытые элементы--------------*/
.visually-hidden {
  display: none;
}

.interesting {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.hotel-search-button {
  font-family: "PT Sans", Arial, sans-serif;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
  border: none;
}
.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #604e43;
}

.hotel-search-button:active {
  background-color: #503e33;
  color: rgba(255, 225, 225, 0.3);
}

.hotel-search-form label {
  font-weight: 700;
}

.hotel-search-item input,
.hotel-search-item button {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.hotel-search-item input:nth-child(3),
.hotel-search-item input:last-child,
.hotel-search-item button {
  width: 38px;
  height: 38px;
  text-align: center;
}

.hotel-search-item input:first-child,
.hotel-search-item input:nth-child(2) {
  width: 346px;
  height: 38px;
  text-align: left;
  padding-left: 13px;
}

.hotel-search-item button {
  color: #a9a9a9;
}

.hotel-search-item input:hover {
  background-color: #ebebeb;
}

.hotel-search-item input:focus,
.hotel-search-item input:active {
  background-color: #ffffff;
  outline-color: #e5e5e5;
}

.hotel-search-item button:hover,
.hotel-search-item button:focus {
  color: #000000;
}

 .hotel-search-item button:active {
   outline-color: #e5e5e5;
   color: #81b3d2;
}

.hotel-search-form-button {
  font-family: "PT Sans", Arial, sans-serif;
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  border: none;
}

.hotel-search-form-button:hover,
.hotel-search-form-button:focus {
  background-color: #669ec0;
}

.hotel-search-form-button:active {
  background-color: #5496bd;
  color: rgba(255, 225, 225, 0.3);
}

.hashtag {
  font-size: 21px;
}

.copyright {
  font-weight: 400;
}

.hotel-filters {
  background-color: #4d565d;
  background-image: url("../img/filter-background.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.hotel-filters fieldset {
  border: none;
}

.hotel-filters-item label,
.hotel-filters-priсe {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-filters legend {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.hotel-filters-priсe input {
  border: solid 2px #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
}

.hotel-filters-button {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  width: 133px;
  height: 32px;
  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 2px;
}

.hotel-filters-button:hover,
.hotel-filters-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.sort-result {
  font-size: 21px;
  line-height: 26px;
}

.sort-title,
.sort-item {
  font-size: 12px;
  line-height: 18px;
}

.sort-item {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-item:hover {
  color: #81b3d2;
}

.sort-item:active {
  color: #000000;
  border:none;
}

.item-current {
  color: #81b3d2;
  border:none;
}

.sort-result-list h3 {
  font-size: 21px;
  line-height: 26px;
}

.sort-result-list h3:hover,
.sort-result-list h3:focus {
  color:#81b3d2;
  outline: none;
}

.sort-result-list h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-priсe {
  font-weight: 400;
}

.more-info {
  color: #ffffff;
  text-align: center;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  background-color: #5496bd;
  color: rgba(225, 225, 225, 0.3);
}

.reserve {
  color: #ffffff;
  text-align: center;
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.reserve:hover {
  background-color: #604e43;
}

.reserve:active {
  background-color: #503e33;
  color: rgba(225, 225, 225, 0.3);
}

.hotel-rating {
  color: #666666;
  font-weight: 400;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}
/*-------------------Сетка----------------*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-header-logo {
  position: absolute;
  margin: auto;
  top: 0; left: 45%; bottom: 0; right: auto;
}

.site-navigation {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  justify-content: space-around;
  height: 56px;
  align-items: center;

}

.slogan-block {
  display: flex;
  background: #ffffff;
  margin-top: 513px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 205px;
}

.sedona-sity,
.hellbridge {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  height: 263px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sedona-sity h2,
.hellbridge h2 {
  width: 153px;
}

.sedona-sity p,
.hellbridge p {
  width: 300px;
}

.sedona-sity img {
  align-self: flex-end;
}

.hellbridge img {
  align-self: flex-start;
}

.advantages-addition-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
  padding-bottom: 80px;
}

.advantages-addition-item {
  width: 285px;
}

.advantages-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 60px;
  padding-right: 65px;
}

.advantages-item {
  width: 272px;
}

.interesting {
  margin-top: 57px;
}

.hotel-search-button {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  padding: 35px 100px;
  align-items: center;
}
.hotel-search-form {
  display: flex;
  flex-direction: column;
  height: 395px;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 3px 20px 1px #e2e2e2;
}

.search-item-people {
  display: flex;
  width: 458px;
  justify-content: space-between;
}

.hotel-search-form-button {
  margin-top: 45px;
}

.hotel-filters-form {
  display: flex;
  min-height: 218px;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 28px;
}

.price-block {
  margin-left: 325px;
}

.hotel-filters-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  display: flex;
  flex-direction: column;
  min-height: 125px;
  justify-content: space-around;
  align-items: flex-start;
}

.hotel-sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 87px;
  border-bottom: 2px solid #e5e5e5;
}

.sort-list {
  display: flex;
  width: 783px;
  padding-left: 0;
  justify-content: space-between;
}

.sort-up {
  margin-left: 350px;
}

.sort-result-item {
  display: flex;
  border-bottom: 2px solid #e5e5e5;
  min-height: 150px;
  align-items: center;
}

.hotel-rating {
  margin-left: 520px;
}

.item-info {
  width: 270px;
  margin-left: 27px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.item-info h3 {
  margin: 0;
}
